<div class="cart-container">
    <button class="cart-close-btn" (click)="closeCart()">✖</button>
    <h1 class="cart-title">Carrito</h1>

    <div class="cart-items">
        @for(product of getProducts(); track $index) {
            <div class="cart-item">
                <img [src]="product.image2" [alt]="product.title">
                <h6 class="cart-item-title">{{ product.title }}</h6>
                <a class="cart-remove-btn" (click)="removeProduct(product)">
                    🗑
                </a>
            </div>
        }
    </div>

    <div class="cart-footer">
        <button class="cart-buy-btn" (click)="printCart()">Imprimir PDF</button>
    </div>
</div>
